streamlit
langchain==0.3.27
langchain-community==0.3.29
langchain-openai==0.3.33
langgraph==0.2.76
langchain-text-splitters==0.3.11
chromadb
sentence-transformers
openai==1.109.1
tavily-python
requests
beautifulsoup4
pypdf2
pdfplumber
torch
torchvision